.container {
  width: 80%;
  margin: 5% auto;
  border-radius: 15px;
  font-family: "HakgyoansimGeurimilgi", sans-serif;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden; /* radius가 탭을 넘지 않게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #e0d285;
}

.tab {
  flex: 1;
  padding: 15px;
  background-color: #e0d285;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

/* 선택된 탭 */
.active {
  background-color: #ffffff;
  color: #658864;
  font-weight: bold;
  border-radius: 20px;
}

.quizBox {
  height: 50vh;
  /* overflow-y: auto; 세로 스크롤 활성화 */
  background: white;
  padding: 20px 30px 5px 30px;
  border-radius: 15px;
  background: #fdfdfd;
  box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.25);
}

.answer {
  font-size: 22px;
  margin-bottom: 25px;
  white-space: pre-line; /* 줄바꿈 \n 인식 */
  line-height: 1.6;
}

/* 제출 버튼 */
.submitButton {
  background-color: #78716c;
  color: white;
  margin-top: 20px;
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #68615c;
}
