.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5vw;
  gap: 5vw; /* 요소 간 간격 조정 */
}

.left img {
  width: 35vw;  /* 더 크게 */
  max-width: 450px;
}

.right {
  max-width: 40vw;
}

.right h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.right p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;  /* ✅ 줄간격 추가 */
  color: #658864;
}

button {
  background-color: #7e9d7c;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  padding: 14px 28px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* 마우스 오버 시 더 진하게 */
}

@font-face {
  font-family: 'HakgyoansimGeurimilgi';
  src: url('../assets/fonts/HakgyoansimGeurimilgi.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikBubbles';
  src: url('../assets/fonts/RubikBubbles-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* { 
  font-family: 'HakgyoansimGeurimilgi', sans-serif;
}

body {
  margin: 0;
  background-color: #DDDDDD; /* 전체 배경색 지정 */
  font-family: 'HakgyoansimGeurimilgi', sans-serif;
}

.header {
  position: relative;
  top: 30px;
  left: 30px;
}

.logo {
  position: fixed;
  font-family: 'RubikBubbles', sans-serif;
  font-size: 48px;
  color: #658864;
  line-height: 1.2;
  text-align: center;
  margin: 20px;

  /* 흰색 스트로크처럼 보이게 text-shadow 중첩 */
  text-shadow:
    -2px -2px 0 #fff,
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff,
  /* 아래쪽으로 자연스러운 그림자*/   
     4px  4px 6px rgba(0, 0, 0, 0.2); /* 약간 부드럽게 */
}




