.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 0 5vw;
  gap: 5vw; /* 요소 간 간격 조정 */
}

.left img {
  width: 35vw; /* 더 크게 */
  max-width: 450px;
}

.right {
  max-width: 40vw;
}

.right h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.right p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6; /* ✅ 줄간격 추가 */
  color: #658864;
}

.btn {
  color: #3a1d00;
  border: none;
  border-radius: 18px;
  font-weight: 800;
  cursor: pointer;
  font-size: 2rem;
  padding: 16px 30px;
}

@font-face {
  font-family: "HakgyoansimGeurimilgi";
  src: url("../assets/fonts/HakgyoansimGeurimilgi.ttf") format("truetype");
}

* {
  font-family: "HakgyoansimGeurimilgi", sans-serif;
}

body {
  margin: 0;
  font-family: "HakgyoansimGeurimilgi", "Baloo 2", "Fredoka", sans-serif;
}
